body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  height: 85vh;
}
.videos {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: hidden;
}
.videos video {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.chat {
  width: 20%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-y: auto;
}
.chat p {
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  white-space: pre;
}
.chat input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}
.chat button {
  padding: 10px;
  background-color: #08b9a6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
